div{
    text-align: center;
    background-color : pink;
    font-family: cursive;
    width: 25%;
    height: 25%;
    border-radius: 40px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
}

button{
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
}