div{
    text-align: center;
    /* background-color : pink; */
    width: 25%;
    height: 25%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    background-image: url("https://pbs.twimg.com/media/FowTW4OaUAAQ11a?format=jpg&name=medium");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center;
    height: 100vh; */
    margin: 0;
}

p{
    font-size: 25px;
    color: antiquewhite;
}

button{
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
}


#button{
    display: flex;
    /* font-size: large; */
    justify-content: center;
    align-items: center;
}