div{
    text-align: center;
    /* background-color : pink; */
    width: 25%;
    height: 25%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
    background-image: url("https://pbs.twimg.com/media/EKDta7XU4AA0DwZ?format=jpg&name=medium");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    /* height: 100vh; */
    margin: 0;
}

button{
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
}
